* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
  color: white;
  background-color: black;
  min-height: 100vh;
}

#logo {
  width: 250px;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
}

header > * {
  margin: 20px;
}

ul {
  list-style: none;
}

#title {
  color: red;
  font-weight: bolder;
  font-size: 30px;
  display: inline-block;
}

#searchInput {
  padding: 5px 15px;
  margin-right: 10px;
  background-color: black;
  color: white;
  border: 1px solid red;
  width: 250px;
}

#searchInput:focus {
  outline: none;
  box-shadow: 0 0 18px red;
  transition: box-shadow 0.5s;
}

#searchButton {
  cursor: pointer;
  font-size: 25px;
  vertical-align: middle;
}

#error {
  background-color: black;
  width: 100%;
  height: calc( 100vh - 110px);
}

#errorContainer {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#errorContainer > img {
  width: 100%;
}

#moviesCounter, #tvsCounter {
  padding: 20px;
}

.moviesContainer, .tvsContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
  flex-wrap: wrap;
  border-top: 2px solid white;
}

.object {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px;
  flex-basis: 500px;
  padding: 15px;
  border: 2px solid white;
  border-radius: 5px;
}

.object:hover {
  box-shadow: 0 0 18px red;
  transition: box-shadow 0.5s;
}

.poster {
  width: 100%;
  height: 100%;
}

.info {
  padding: 10px 20px;
}

.fa-star {
  color: gold;
}

.popup_info {
  position: absolute;
  display: flex;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.overview {
  margin-bottom: 30px;
}

.popup_info ul {
  margin: auto;
  width: 80%;
}

.popup_info li {
  padding: 10px 0;
}

.hidden {
  display: none;
}

/* Media query < 767px */
@media screen and (max-width: 767px) {

  #logo {
    width: 150px;
    cursor: pointer;
    flex-shrink: 0;
  }

  #searchInput {
    width: 100%;
    margin: 0;
  }

  .fa-search {
    display: none;
  }

  .object {
    width: calc(100% - 20px);
  }
}
/* Fine Media query < 761px */

/* Media query < 767px */
@media screen and (max-width: 349px) {

  header {
    display: block;
    text-align: center;
  }

  #logo {
    width: 80%;
    margin: 20px 0;
  }

  /* header {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  header > * {
    padding: 0 10px;
  } */
/* Fine Media query < 761px */
